.header {
  background-image: url('../assets/background.jpg');
  height: 800px;
  background-size: 100vw 600px;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
.header .topbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  height: 12%;
}
.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  padding-left: 2em;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
