.header{
    background-image: url('../assets/background.jpg');
    height:800px;
    //background-color: @background-color;
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
    .flex(flex-start , stretch ,column);
    .topbar{
        .flex(space-between, stretch, row);
        height:12%;
        background-color:@primary-color;
        width:100%;
        z-index:5;
        position:fixed;

        .logo{
            .flex(space-between , stretch ,row);
            padding-left:2em;
            width:10%;
       }
       .navbar{
           .flex(space-evenly, center, row);
            width:60%;
       }
    }
    .tagline{
        .flex(flex-start, center, row );
        padding-left:5%;
        height:100%;
        width:35%;
    }
    

}