.header{
    background-image: url('../assets/background.jpg');
    height:800px;
    //background-color: @background-color;
    background-size:100vw 600px;
    background-repeat:no-repeat;
    width: 100%;
    .flex(space-between , stretch ,column);
    .topbar{
        .flex(space-between, stretch, row);
        height:12%;
    }
     .logo{
         .flex(space-between , stretch ,row);
         padding-left:2em;
    }

}