@import './mixins';
@import './variables';
@import '../components/Books/books';
@import '../components/Tabs/tabs';
@import '../components/Teams/teams';
@import './header.less';

* {
    box-sizing:  border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body{
    .flex(space-between , stretch ,column)
    
}