@import './mixins';
@import './variables';
@import '../components/Carousel/carousel';
@import '../components/Teams/teams';
@import './header.less';

* {
    box-sizing:  border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
body{
    .flex(space-between , stretch ,column);
    background-color:@white;
    
}
a{
    text-decoration:none;
    font-size:1.2em;
    color:@secondary-color;
}
.heading {
    width:100%;
    text-align:center;
}
.blurb{
    background-color:@secondary-color;
    width:100%;
    height:300px;
    color:@white;
    div{
        width:100%;
        padding:2% 20%;
        .flex(center,stretch, row);
        text-align:center;
        border:1px solid blue;
    }
    p{
        font-size:2.5rem;
    }
}